<%= link_to('back to products', root_path, class: 'text-blue-500 text-sm hover:underline my-2') %>
<h1 class="text-5xl mt-4 mb-4 font-bold"><%=  @product.name %></h1>
<% if @product.description %>
  <p class="text-gray-600"><%= @product.description %></p>
<% end %>
